<div id="body-div">
  <div class="center-screen">
    <mat-card>
      <mat-card-content>
        <div class="container">
          <div class="row">
            <img
              src="assets/logo.png"
              style="height: 70px; margin: 30px auto; width: auto"
            />
          </div>
          <div class="row">
            <mat-form-field class="auth-text-input">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="Email"
                [formControl]="email"
                (blur)="updateEmailErrorMessage()"
                required
              />
              @if (email.invalid) {
                <mat-error>{{ this.errors[EMAIL_IDX] }}</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="auth-text-input">
              <mat-label>Password</mat-label>
              <input
                matInput
                placeholder="Password"
                [formControl]="password"
                required
              />
              @if (password.invalid) {
                <mat-error>{{ this.errors[PASSWORD_IDX] }}</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="row">
            <button
              mat-flat-button
              [disabled]="hasError"
              id="login-btn"
              color="primary"
              (click)="submitLogin()"
            >
              Login
            </button>
          </div>
          <div class="row">
            <span>
              Need an account?
              <a routerLink="/auth/register" id="register-btn"> Register </a>
            </span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
