<div id="body-div">
  <div class="center-screen">
    <mat-card>
      <mat-card-content>
        <div class="container">
          <div class="row">
            <img
              src="assets/logo.png"
              style="height: 70px; margin: 30px auto; width: auto"
            />
          </div>
          <div class="row">
            <mat-form-field class="auth-text-input">
              <mat-label>First Name</mat-label>
              <input
                matInput
                placeholder="First name"
                [formControl]="firstName"
                required
              />
              @if (firstName.invalid) {
                <mat-error>{{ errors[FIRSTNAME_IDX] }}</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="auth-text-input">
              <mat-label>Last Name</mat-label>
              <input
                matInput
                placeholder="Last name"
                [formControl]="lastName"
                required
              />
              @if (lastName.invalid) {
                <mat-error>{{ errors[LASTNAME_IDX] }}</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="auth-text-input">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="Email"
                [formControl]="email"
                (blur)="updateEmailErrorMessage()"
                autocomplete="email"
                required
              />
              @if (email.invalid) {
                <mat-error>{{ errors[EMAIL_IDX] }}</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="auth-text-input">
              <mat-label>Password</mat-label>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                placeholder="Password"
                [formControl]="password"
                autocomplete="new-password"
                required
              />
              @if (password.invalid) {
                <mat-error>{{ errors[PASSWORD_IDX] }}</mat-error>
              }
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="row">
            <button
              mat-flat-button
              [disabled]="hasError || isLoading"
              id="register-btn"
              color="primary"
              (click)="submitRegister()"
            >
              <span *ngIf="!isLoading">Register</span>
              <mat-spinner *ngIf="isLoading" [diameter]="30"></mat-spinner>
            </button>
          </div>
          @if (this.errors[REGISTER_IDX]) {
            <div class="row">
              <mat-error>{{ this.errors[REGISTER_IDX] }}</mat-error>
            </div>
          }
          <div class="row" style="margin-top: 10px">
            <span>
              Have an account?
              <a routerLink="/auth/login" id="login-btn"> Login </a>
            </span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
