<div class="container">
  <div class="row" style="margin: 40px 0">
    <h2>What’s the best way for employers to contact you?</h2>
    <p>
      Let's start with the basics. To ensure employers can reach you, input at
      least your name, email, and phone number.
    </p>
  </div>
</div>
<form [formGroup]="form">
  <div class="container">
    <div class="row">
      <mat-form-field class="col-4">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-2">
        <mat-label>Country</mat-label>
        <input matInput formControlName="country" />
      </mat-form-field>
      <mat-form-field class="col-2">
        <mat-label>City</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field class="col-2">
        <mat-label>State/Province</mat-label>
        <input matInput formControlName="state" />
      </mat-form-field>
      <mat-form-field class="col-2">
        <mat-label>Zip Code</mat-label>
        <input matInput formControlName="zipCode" />
      </mat-form-field>
      <div class="col-4"></div>
    </div>
    <div class="row">
      <mat-form-field class="col">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
        @if (form.controls.email.invalid) {
          <mat-error>Email can't be blank</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phoneNumber" />
      </mat-form-field>
      <div class="col"></div>
    </div>
    <div class="row" style="margin-top: 50px">
      <div class="col-3"></div>
      <button
        mat-stroked-button
        color="primary"
        class="col-2 form-btn"
        [routerLink]="['/resume/template']"
        type="button"
      >
        Back
      </button>
      <div class="col-1"></div>
      <button
        mat-flat-button
        color="primary"
        class="col-2 form-btn"
        type="button"
        (click)="submitForm()"
      >
        Continue
      </button>
    </div>
  </div>
</form>
