<div [ngClass]="pageState == 0 ? '' : 'hide'">
  <div class="container">
    <div class="row" style="margin: 40px 0">
      <h2>Tell us about your job history</h2>
      <p>
        Don't have any work experience? Add school leadership positions,
        internships, summer jobs, and unofficial jobs.
      </p>
    </div>
  </div>
  <form [formGroup]="form">
    <div class="container">
      <div class="row">
        <mat-form-field class="col">
          <mat-label>Job Title</mat-label>
          <input matInput formControlName="jobTitle" />
          @if (
            form.controls.company.value != "" &&
            form.controls.jobTitle.value == ""
          ) {
            <mat-error>Job title can't be blank</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="col">
          <mat-label>Employer</mat-label>
          <input matInput formControlName="company" />
          @if (
            form.controls.jobTitle.value != "" &&
            form.controls.company.value == ""
          ) {
            <mat-error>Employer can't be blank</mat-error>
          }
        </mat-form-field>
        <div class="col"></div>
      </div>
      <div class="row">
        <mat-form-field class="col-3">
          <mat-label>Country</mat-label>
          <input matInput formControlName="country" />
        </mat-form-field>
        <mat-form-field class="col-2">
          <mat-label>State/Province</mat-label>
          <input matInput formControlName="state" />
        </mat-form-field>
        <mat-form-field class="col-3">
          <mat-label>City</mat-label>
          <input matInput formControlName="city" />
        </mat-form-field>
        <div class="col-4"></div>
      </div>
      <div class="row" style="margin-bottom: 0px">
        <mat-form-field class="col-2">
          <mat-label>Start Month</mat-label>
          <mat-select formControlName="startMonth">
            @for (month of months; track month) {
              <mat-option [value]="month">{{ month }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-2">
          <mat-label>Start Year</mat-label>
          <mat-select formControlName="startYear">
            @for (year of years; track year) {
              <mat-option [value]="year">{{ year }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-2">
          <mat-label>End Month</mat-label>
          <mat-select formControlName="endMonth">
            @for (month of months; track month; let idx = $index) {
              <mat-option [value]="idx + 1">{{ month }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-2">
          <mat-label>End Year</mat-label>
          <mat-select formControlName="endYear">
            @for (year of years; track year) {
              <mat-option [value]="year">{{ year }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <div class="col"></div>
      </div>
      <div class="row" style="margin: 0px">
        <mat-checkbox [color]="'primary'" (change)="currentWorkChange()"
          >I currently work here</mat-checkbox
        >
      </div>

      <div class="row" style="margin-top: 50px">
        <div class="col-3"></div>
        <button
          mat-stroked-button
          color="primary"
          class="col-2 form-btn"
          (click)="back()"
        >
          Back
        </button>
        <div class="col-1"></div>
        <button
          mat-flat-button
          color="primary"
          class="col-2 form-btn"
          (click)="addResponsibility()"
        >
          Continue
        </button>
      </div>
    </div>
  </form>
</div>

<div [ngClass]="pageState == 1 ? '' : 'hide'">
  <div class="container">
    <div class="row" style="margin: 40px 0">
      <h2>Let's list your responsibilities</h2>
      <p>Start with our recommended bullet points or write your own.</p>
      <div class="container">
        <div class="row subtitle">
          <p>
            {{ form.controls.jobTitle.value }} -
            {{ form.controls.company.value }}
          </p>
        </div>
        <div class="row" style="margin-top: 0px">
          <div class="col-5">
            <p-editor
              [(ngModel)]="description"
              [style]="{ height: '400px', 'font-size': '20px', color: 'black' }"
            >
              <ng-template pTemplate="header">
                <span class="ql-formats">
                  <button
                    type="button"
                    class="ql-bold"
                    aria-label="Bold"
                  ></button>
                  <button
                    type="button"
                    class="ql-italic"
                    aria-label="Italic"
                  ></button>
                  <button
                    type="button"
                    class="ql-underline"
                    aria-label="Underline"
                  ></button>
                  <button
                    type="button"
                    class="ql-list"
                    aria-label="Ordered List"
                    value="ordered"
                  ></button>
                  <button
                    type="button"
                    class="ql-list"
                    aria-label="Unordered List"
                    value="bullet"
                  ></button>
                </span>
              </ng-template>
            </p-editor>
          </div>
        </div>
        <div class="row" style="margin-top: 50px">
          <div class="col-3"></div>
          <button
            mat-stroked-button
            color="primary"
            class="col-2 form-btn"
            (click)="backToAddWorkExp()"
          >
            Back
          </button>
          <div class="col-1"></div>
          <button
            mat-flat-button
            color="primary"
            class="col-2 form-btn"
            (click)="finishResponsibility()"
          >
            Continue
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div [ngClass]="pageState == 2 ? '' : 'hide'">
  <div class="container">
    <div class="row" style="margin: 40px 0">
      <h2>Let's list your responsibilities</h2>
      <p>Add, edit, or delete your work experience.</p>
    </div>
    <div class="row" *ngFor="let workExp of workExps; index as i">
      <mat-card>
        <mat-card-content
          ><p>
            {{ workExp.jobTitle }} - {{ workExp.company }}
          </p></mat-card-content
        >
        <mat-card-actions align="end">
          <button mat-button (click)="editWorkExp(i)">
            <mat-icon
              aria-hidden="false"
              aria-label="Edit"
              fontIcon="edit_square"
            ></mat-icon>
          </button>
          <button mat-button (click)="deleteWorkExp(i)">
            <mat-icon
              aria-hidden="false"
              aria-label="Delete"
              fontIcon="delete"
            ></mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="row" style="margin-top: 50px">
      <div class="col-2"></div>
      <button
        mat-stroked-button
        color="primary"
        class="col-2 form-btn"
        (click)="back()"
      >
        Back
      </button>
      <div class="col-1"></div>
      <button
        mat-flat-button
        color="primary"
        class="col-2 form-btn"
        (click)="addAnotherWorkExp()"
      >
        Add another job
      </button>
      <div class="col-1"></div>
      <button
        mat-flat-button
        color="primary"
        class="col-2 form-btn"
        (click)="submitForm()"
      >
        Continue
      </button>
    </div>
  </div>
</div>
