@import "../../../theming.scss";

#main-btn {
  padding: 0px 35px;
  border-radius: 30px;
  margin: 35px 0px;
  font-size: 20px;
  height: 55px;
}

#properties {
  background-color: $secondary-50;
  height: 550px;
}

.benefit {
  padding: 60px;
  display: flex;
}

#section-2-container {
  padding-top: 5%;
}

.mat-icon {
  width: 45px;
  height: 45px;
  font-size: 35px;
}

#section-3-header,
#section-4-header {
  padding-top: 4%;
  padding-bottom: 1%;
}

#section-3-container {
  height: 80%;
}

.section-3-image {
  height: 280px;
}

.section-3-description {
  margin: 20px auto;
}

#feedbacks {
  background-color: $secondary-50;
  height: 700px;
}
