<section id="resumeBuild">
  <div class="container text-center">
    <div class="row" id="intro-1">
      <div class="col-7" style="padding-top: 15%">
        <h1>Professional Resume & Cover Letter Tools For Any Job</h1>
        <div>
          Create a resume in 30 minutes, help 3 millions people to get a job
        </div>
        <button
          mat-raised-button
          color="primary"
          id="main-btn"
          style="font-weight: 600"
        >
          Create My Resume
        </button>
      </div>
      <div class="col-5" style="padding-top: 50px">
        <img src="assets/intro-1.png" style="width: 30vw" />
      </div>
    </div>
    <div class="row" id="mobile-intro-1">
      <div style="padding-top: 15%">
        <h1>Professional Resume & Cover Letter Tools For Any Job</h1>
        <div>
          Create a resume in 30 minutes, help 3 millions people to get a job
        </div>
        <button
          mat-raised-button
          color="primary"
          id="main-btn"
          style="font-weight: 600"
        >
          Create My Resume
        </button>
      </div>
    </div>
  </div>
</section>

<section id="properties">
  <div class="container h-100" id="section-2-container">
    <div
      class="row align-items-center"
      [ngClass]="
        screenSize >= 2
          ? 'row-cols-3'
          : screenSize == 1
            ? 'row-cols-2'
            : 'row-cols-1'
      "
    >
      <div class="col benefit">
        <div style="margin: auto" class="row">
          <div class="col-2">
            <mat-icon
              [color]="'primary'"
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="timeline"
            ></mat-icon>
          </div>
          <div class="col-10">
            <h4>Easy online resume builder</h4>
            Create an awesome resume in minutes, without leaving your web
            browser.
          </div>
        </div>
      </div>
      <div class="col benefit">
        <div style="margin: auto" class="row">
          <div class="col-2">
            <mat-icon
              [color]="'primary'"
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="timeline"
            ></mat-icon>
          </div>
          <div class="col-10">
            <h4>Easy online resume builder</h4>
            Create an awesome resume in minutes, without leaving your web
            browser.
          </div>
        </div>
      </div>
      <div class="col benefit">
        <div style="margin: auto" class="row">
          <div class="col-2">
            <mat-icon
              [color]="'primary'"
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="timeline"
            ></mat-icon>
          </div>
          <div class="col-10">
            <h4>Easy online resume builder</h4>
            Create an awesome resume in minutes, without leaving your web
            browser.
          </div>
        </div>
      </div>
      <div class="col benefit">
        <div style="margin: auto" class="row">
          <div class="col-2">
            <mat-icon
              [color]="'primary'"
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="timeline"
            ></mat-icon>
          </div>
          <div class="col-10">
            <h4>Easy online resume builder</h4>
            Create an awesome resume in minutes, without leaving your web
            browser.
          </div>
        </div>
      </div>
      <div class="col benefit">
        <div style="margin: auto" class="row">
          <div class="col-2">
            <mat-icon
              [color]="'primary'"
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="timeline"
            ></mat-icon>
          </div>
          <div class="col-10">
            <h4>Easy online resume builder</h4>
            Create an awesome resume in minutes, without leaving your web
            browser.
          </div>
        </div>
      </div>
      <div class="col benefit">
        <div style="margin: auto" class="row">
          <div class="col-2">
            <mat-icon
              [color]="'primary'"
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="timeline"
            ></mat-icon>
          </div>
          <div class="col-10">
            <h4>Easy online resume builder</h4>
            Create an awesome resume in minutes, without leaving your web
            browser.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="aboutUs">
  <div class="section-header text-center" id="section-3-header">
    <h2>Our team</h2>
    <p>We help customers release their potential.</p>
  </div>
  <div class="container" id="section-3-container">
    <div
      class="row align-items-center"
      [ngClass]="
        screenSize == 3
          ? 'row-cols-4'
          : screenSize >= 1
            ? 'row-cols-2'
            : 'row-cols-1'
      "
    >
      <div class="col">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Lydia</mat-card-title>
            <mat-card-subtitle>测试</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            class="section-3-image"
            src="assets/team/Lydia.png"
            alt="Photo of Lydia"
          />
          <mat-card-content>
            <p class="section-3-description">
              FLAG 在职高级工程师，TOP2 本硕，北美 PhD，程序算法爱好者。YouTube
              知名中文算法讲解主播，发起并运营某知名学习社群，该群迄今累计汇报有FLAG
              offer 200+
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Lydia</mat-card-title>
            <mat-card-subtitle>测试</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            class="section-3-image"
            src="assets/team/Kai.png"
            alt="Photo of Kai"
          />
          <mat-card-content>
            <p class="section-3-description">
              熟悉
              Java，C++，对大数据领域和后端开发有较丰富经验，擅长系统设计。曾拿到过
              Hulu，微信，字节，蚂蚁金服等公司的
              offer，现在某知名外企任软件工程师。
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Lydia</mat-card-title>
            <mat-card-subtitle>测试</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            class="section-3-image"
            src="assets/team/Lydia.png"
            alt="Photo of Lydia"
          />
          <mat-card-content>
            <p class="section-3-description">
              FLAG 在职高级工程师，TOP2 本硕，北美 PhD，程序算法爱好者。YouTube
              知名中文算法讲解主播，发起并运营某知名学习社群，该群迄今累计汇报有FLAG
              offer 200+
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Lydia</mat-card-title>
            <mat-card-subtitle>测试</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            class="section-3-image"
            src="assets/team/Kai.png"
            alt="Photo of Kai"
          />
          <mat-card-content>
            <p class="section-3-description">
              熟悉
              Java，C++，对大数据领域和后端开发有较丰富经验，擅长系统设计。曾拿到过
              Hulu，微信，字节，蚂蚁金服等公司的
              offer，现在某知名外企任软件工程师。
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>

<!-- <section id="feedbacks">
  <div class="section-header text-center" id="section-4-header">
    <h2>用户反馈</h2>
  </div>
  <app-image-slider [image_paths]="feedbacks"></app-image-slider>
</section> -->
