<section>
  <div class="container text-center">
    <div class="row">
      <div class="col-7" style="padding-top: 15%">
        <h1>名企精英都在用的专业简历</h1>
        <div>30 分钟快速制作一份完美简历，帮助 500 万人才直通面试</div>
        <button mat-raised-button color="primary" id="main-btn">
          免费生成专业简历
        </button>
      </div>
      <div class="col-5">
        <img src="assets/intro-1.png" style="width: 30vw" />
      </div>
    </div>
  </div>
</section>
<section id="section-2">
  <div class="container h-100" id="section-2-container">
    <div class="row align-items-center">
      <div class="col benefit">
        <div>
          <mat-icon
            [color]="'primary'"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="timeline"
          ></mat-icon>
        </div>
        <div>
          <h4>专业模板</h4>
          由人力资源专家设计并推荐
        </div>
      </div>
      <div class="col benefit">
        <div>
          <mat-icon
            [color]="'primary'"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="add_comment"
          ></mat-icon>
        </div>
        <div>
          <h4>智能优化</h4>
          自动纠错，让简历脱颖而出
        </div>
      </div>
      <div class="col benefit">
        <div>
          <mat-icon
            [color]="'primary'"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="verified_user"
          ></mat-icon>
        </div>
        <div>
          <h4>简历直推</h4>
          先人一步，直达面试机会
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col benefit">
        <div>
          <mat-icon
            [color]="'primary'"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="business"
          ></mat-icon>
        </div>
        <div>
          <h4>职位匹配</h4>
          精准投递，简历不再石沉大海
        </div>
      </div>
      <div class="col benefit">
        <div>
          <mat-icon
            [color]="'primary'"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="work"
          ></mat-icon>
        </div>
        <div>
          <h4>找工作</h4>
          热门公司任你选
        </div>
      </div>
      <div class="col benefit">
        <div>
          <mat-icon
            [color]="'primary'"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="call"
          ></mat-icon>
        </div>
        <div>
          <h4>移动端</h4>
          及时沟通不断线
        </div>
      </div>
    </div>
  </div>
</section>
<section style="height: 500px"></section>
