<h2 mat-dialog-title>
  Are you sure you want to continue without any work experience?
</h2>
<mat-dialog-content style="width: 700px"
  >We highly recommend you add your work experience. Don't have any work
  experience? Add school leadership positions, internships, summer jobs, and
  unofficial jobs.</mat-dialog-content
>
<mat-dialog-actions style="align-self: end">
  <button mat-button [mat-dialog-close]="false">Back</button>
  <button mat-button [mat-dialog-close]="true">Continue</button>
</mat-dialog-actions>
