<mat-toolbar id="nav" #nav>
  <div class="container">
    <div class="row" style="height: 48px">
      <div class="col text-start">
        <img src="assets/logo.png" style="height: 32px; margin: 8px 0px" />
      </div>
      <div class="col-6 text-end" style="display: table-cell">
        <button
          mat-button
          class="nav-btns"
          aria-label="Create Resume"
          routerLink="/"
          fragment="resumeBuild"
        >
          Create Resume
        </button>
        <button
          mat-button
          class="nav-btns"
          aria-label="Our Product"
          routerLink="/"
          fragment="properties"
        >
          Our Product
        </button>
        <button
          mat-button
          class="nav-btns"
          aria-label="About Us"
          routerLink="/"
          fragment="aboutUs"
        >
          About Us
        </button>
        <button
          mat-button
          class="nav-btns"
          aria-label="Customer Feedback"
          routerLink="/"
          fragment="feedbacks"
        >
          Customer Feedback
        </button>
      </div>
      <div class="col text-end" *ngIf="!isLoggingIn">
        <button
          mat-stroked-button
          color="primary"
          class="nav-btns auth-btns"
          style="padding: 0px 35px"
          routerLink="/auth/login"
        >
          Login
        </button>
        <button
          mat-flat-button
          color="primary"
          class="nav-btns auth-btns"
          style="padding: 0px 35px"
          routerLink="/auth/register"
        >
          Register
        </button>
      </div>
      <div class="col text-end" *ngIf="isLoggingIn">
        <button
          mat-button
          color="primary"
          class="nav-btns auth-btns"
          style="padding: 0px 35px"
          (click)="logout()"
        >
          Logout
        </button>
        <button
          mat-raised-button
          color="primary"
          class="nav-btns auth-btns"
          style="padding: 0px 35px"
          routerLink="/dashboard"
        >
          My resumes
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>

<mat-toolbar id="mobile-nav" #nav>
  <mat-toolbar-row>
    <div class="col text-start">
      <img src="assets/logo.png" style="height: 32px; margin: 8px 0px" />
    </div>
    <button
      mat-icon-button
      aria-label="Breadcrumb button"
      (click)="expandRow = !expandRow"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="expandRow">
    <span
      class="mobile-nav-btn"
      aria-label="Create Resume"
      routerLink="/"
      fragment="resumeBuild"
    >
      Create Resume
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="expandRow">
    <span
      class="mobile-nav-btn"
      aria-label="Our Product"
      routerLink="/"
      fragment="properties"
    >
      Our Product
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="expandRow">
    <span
      class="mobile-nav-btn"
      aria-label="About Us"
      routerLink="/"
      fragment="aboutUs"
    >
      About Us
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="expandRow">
    <span
      class="mobile-nav-btn"
      aria-label="Customer Feedback"
      routerLink="/"
      fragment="feedbacks"
    >
      Customer Feedback
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="expandRow">
    <span class="mobile-nav-btn mobile-nav-btn-special" aria-label="Login">
      Login
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="expandRow">
    <span class="mobile-nav-btn mobile-nav-btn-special" aria-label="Register">
      Register
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet> </router-outlet>

<section id="footer">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col">
        <ul>
          <h5>Test</h5>
          <li>
            <a href="/">Test</a>
          </li>
          <li>
            <a href="/">Test</a>
          </li>
          <li>
            <a href="/">Test</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <h5>Test</h5>
          <li>
            <a href="/">Test</a>
          </li>
          <li>
            <a href="/">Test</a>
          </li>
          <li>
            <a href="/">Test</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <h5>Test</h5>
          <li>
            <a href="/">Test</a>
          </li>
          <li>
            <a href="/">Test</a>
          </li>
          <li>
            <a href="/">Test</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <button mat-stroked-button color="primary" id="footer-btn">
          Create Resume
        </button>
      </div>
    </div>
  </div>
</section>

<section id="mobile-footer">
  <div class="container h-100" style="padding-top: 15px">
    <div class="row align-items-center">
      <div class="col">
        <ul>
          <h5>Test</h5>
          <li>
            <a href="/">Test</a>
          </li>
          <li>
            <a href="/">Test</a>
          </li>
          <li>
            <a href="/">Test</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <h5>Test</h5>
          <li>
            <a href="/">Test</a>
          </li>
          <li>
            <a href="/">Test</a>
          </li>
          <li>
            <a href="/">Test</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <h5>Test</h5>
          <li>
            <a href="/">Test</a>
          </li>
          <li>
            <a href="/">Test</a>
          </li>
          <li>
            <a href="/">Test</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row align-items-center">
      <button
        mat-stroked-button
        color="primary"
        id="footer-btn"
        class="mobile-footer-btn"
      >
        Create Resume
      </button>
    </div>
  </div>
</section>
