@import "../../../theming.scss";

@media (min-width: 1100px) {
  #mobile-nav {
    display: none;
  }
}

@media (max-width: 1100px) {
  #nav {
    display: none;
  }
}

@media (max-width: 800px) {
  #footer {
    display: none;
  }
}

@media (min-width: 800px) {
  #mobile-footer {
    display: none;
  }
}

.nav-btns {
  border-radius: 20px;
  margin: 6px 12px;
}

button {
  font-size: 16px;
}

.mobile-nav-btn {
  padding-left: 15px;
}

.mobile-nav-btn-special {
  color: $primary-400;
}

#nav,
#mobile-nav {
  position: fixed;
  background-color: white;
  transition: top 0.3s;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.scroll-down {
  top: -64px !important;
}

#footer,
#mobile-footer {
  height: 250px;
  background-color: $primary-600;
  color: $light-primary-text !important;
}

ul {
  list-style-type: none;
}

li {
  margin: 10px 0px;
}

li a {
  color: white;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

#footer-btn {
  padding: 0px 35px;
  border-radius: 30px;
  margin: 35px 0px;
  font-size: 20px;
  height: 55px;
  background-color: white;
  color: $primary-600;
  font-weight: 700;
}

.mobile-footer-btn {
  width: 280px;
  margin: auto !important;
}

#footer-btn:hover {
  background-color: whitesmoke;
}

.auth-btns {
  width: 140px;
}
